body {
    
    background: url("#{resource['images:fundo-cliente-repeat.png']}") repeat;
    background-color: rgba(0, 255, 0, 0.05);
}

div#wrapper {
    
    position: fixed;
    min-width: 750px;
    min-height: 550px;
}

div#wrapper-lateral {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    
    
    background: url("#{resource['images:fundo-carbon.png']}") repeat;
    background-color: rgba(0, 64, 0, 0.4);
}

div#wrapper-corpo {
    
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

div#wrapper-corpo-conteudo {
    
    position: fixed;
    left: 210px;
    height: 100%;
    width: available;
    min-width: 540px;
    overflow-y: auto;
    overflow-x: hidden;
}

div#cabecalho {
    
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    width: 100%;
    height: 80px;
    
    /*border: 2px solid rgba(0, 32, 0, 0.1);*/
}

div#corpo {
    
    position: relative;
    margin: 0;
    padding: 5px;
    display: block;
    min-width: available;
    width: available;
    /*border: 2px solid rgba(0, 32, 0, 0.1);*/
}

div.itemmenulateral {
    
    margin: 10px;
    width: 180px;
    display: table;
    
}

div#banner {
    
    height: 80px;
    
    border: 2px solid rgba(0, 32, 0, 0.1);
    background-color: rgba(127, 0, 0, 0.4);
}

div#banner-logo {
    
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

div#login {
    
    line-height: 40px;
    margin-top: 18px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    
    border-top: 2px solid rgba(127, 0, 0, 0.4);
}

div#menu {
    
    height: 300px;
    margin: 5px;
    margin-top: 18px;
    padding: 5px;
    text-align: center;
}

div#rodape {
    
    position: fixed;
    display: table-cell;
    bottom: 0px;
    margin: 5px;
    width: 190px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    
}