.ui-widget,.ui-widget .ui-widget {
    font-size: 95% !important;
}

.ui-panelgrid-nobackground, .ui-panelgrid-nobackground tr, .ui-panelgrid-nobackground td {
    /*background: none !important;*/
    border: none !important;
}

/* Retira as bordas dos panelgrids */
.ui-panelgrid-noborder tr, .ui-panelgrid-noborder td {
    border: none !important;
}

body {
    
    background: url("#{resource['images:fundo-carbon.png']}") repeat;
}

div#wrapperbg {
    
    position: relative;
    width: 720px;
    margin: 0 auto;
}

div#bg {
    
    position: fixed;
    height: 100%;
    width: 720px;
    margin: 0 auto;
    
    background-color: rgba(127, 255, 127, 0.1);
    border-left: 1px solid rgba(0,0,0,0.4);
    border-right: 1px solid rgba(0,0,0,0.4);
}

div#wrapper {
    
/*    position: fixed;
    overflow-y: auto;*/
    width: 100%;
    height: 100%;
}

div#wrapperup {
    
    display: block;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    
    border-bottom: 1px solid black;
    border-bottom: 1px solid rgba(0,0,0,0.6);
    background-color: green;
    
    /*background: url("#{resource['images:fundo-cabecalho-repeat.png']}") repeat-x;*/
}

div#wrapperdown {
    
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    
    /*background: url("#{resource['images:fundo-rodape-repeat.png']}") repeat-x;*/
}

div#wrappermiddle {
    
    display: block;
    width: 100%;
}

div#menu {
    
    width: 700px;
    min-height: 60px;
    margin: 0 auto;
    display: block;
}

div#corpo {
    
    width: 700px;
    min-height: 500px;
    margin: 0 auto;
    display: block;
}

div#cabecalho {
    
    width: 700px;
    height: 100%;
    margin: 0 auto;
}

div#cabecalho_logo {
    
    float: left;
    width: 80px;
    line-height: 80px;
    text-align: left;
    padding-left: 20px;
}

div#cabecalho_corpo {
    
    float: left;
    display: inline;
    width: 500px;
    line-height: 80px;
    text-align: center;
}

div#cabecalho_login {
    
    float: left;
    display: inline;
    width: 90px;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
}

div#rodape {
    
    width: 700px;
    height: 100%;
    line-height: 40px;
    margin: 0 auto;
}

div#rodape p {
    
    text-align: center;
    font-size: 11px;
    font-weight: lighter;
    font-stretch: extra-expanded;
    font-family: monospace;
}